@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*{
    box-shadow: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    color: #333333;
    overflow: hidden;
}

:root {
    --primary: #F2C94C;
    --black: #333333;
    
    
}

nav{
    
        background-color: var(--primary);
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
}

main{
    margin:auto;
    padding: 1rem;
    max-width: 600px;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
    
}
button{
    border: none;
    padding: 1rem 2rem;
    background-color: var(--primary);
    font-family: "Josefin Sans", sans-serif;
    margin:1rem 0rem;
    border-color: var(--primary);
    font-size:large;
   
}

  
 #output{
     box-sizing: border-box;
    border: 1px solid black;
    min-height: 15vh;
    max-height: 20vh;
    overflow: scroll;
    width: 100%;
    margin-bottom: 1rem;
}   

footer{
    background-color: var(--primary);
    position: relative;
    text-align: center;
    padding: 1rem;
    margin: auto;
}
.foot-head{
    padding: 1rem;
}
footer p{
    max-width: 600px;
    margin: auto;
    padding-bottom: 1rem;
   
    
}


